html {
  font-family:'Roboto Condensed', sans-serif;
}
.top-nav, [src="https://g.newsweek.com/www/images/logo-n1.svg"], .features, .in-focus  {
  background-color: #f72210;
}

[src="images/weather.webp"] {
  width: 24px;
  height: 24px;
}

.middle > a svg{
  width: 396px;
  height: 60px;
  margin: 10px 0 auto;
}
.right-nav {
  position: relative;
  bottom: -1.5em;
}
.subscribe {
  background-color: white;
  padding: 5px;
}
.bottom-nav {
  position: relative;
}
.bn-ul li {
  line-height: 12px;
  margin: 5px;
  padding: 7px;
  border-left: 1px solid #d9d9d9;
}
.bn-ul li:first-of-type {
  border-left: none;
}
.bn-ul li a {
  font-size: 19px;
  font-weight: 700;
}
.bn-ul li a:hover, .subscribe, .subscribe:hover, .ar-div1, .cl-b-hv-r:hover, .cl-r-hv-r:hover, .cl-r-hv-r {
  color: #f72210;
}
#search {
  height: 22px;
  margin-top: 5px;
}
[class="fas fa-search"] {
  position: relative;
  right: 25px;
  top: 8px;
}
main {
  border-top: 1px solid #f4f5f6;
  padding-top: 15px;
}
.title {
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: bold;
}
.ar-div1, .ar-mid-div1, .in-focus {
  bottom: 0;
  z-index: 1;
}
.ar-div1 {
  background-color: rgba(255, 255, 255, 0.9);
}
.bn-ul li a, .cl-b-hv-un-r, .cl-b-hv-b, .cl-b-hv-un-r:hover, .cl-b-hv-b:hover, .cl-b-hv-r {
  color: black;
} 
header a:hover, .cl-b-hv-un-r, .cl-b-hv-b, .cl-b-hv-b:hover, .cl-b-hv-r, .cl-b-hv-r:hover, .cl-r-hv-r, .cl-r-hv-r:hover {
  text-decoration: none;
}
.cl-b-hv-un-r:hover {
  text-decoration: underline #f72210;
}
.ar-mid-div1 {
  background-color: #c2d4d7;
}
.mp-m3-div, .opinion-div1, .latest-news-div, .magazine-container {
  border-top: 1px solid #ddd;
}
.opinion a:hover {
  text-decoration: none;
}
.authors-img {
  width: 63px;
  height: 63px;
}
.by-author {
  font-size: 14px;
  color: #555;
}
.opinion-div1:first-of-type, .latest-news-div:first-of-type {
  border-top: 0;
}
.debate-img1 {
  width: 95px;
  height: 95px;
}
.debate-part1-div1 {
  border-top: 4px solid #f92859;
}
.debate-part1-div2 {
  border-top: 3px double #ddd;
}
.debate-part1-div2 img {
  right: 7px;
  bottom: 7px;
}
.vs {
  background-color: black;
  margin: 14px auto 18px;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #d6d6d6;
}
[src="images/debate3.webp"] {
  width: 63px;
  height: 63px;
}
.debate-part2-div1 {
  border-top: 4px solid #1c87fb;
}
[src="https://g.newsweek.com/www/images/logo-n1.svg"] {
  width: 29px;
  height: 28px;
}
.sign-up, .see-all-features {
  background-color: #f4f5f6;
}
.sign-up {
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}
button {
  background-color: #666;
}
button:hover {
  background-color: #999;
}
.see-all-features:hover {
  background-color: #dbdcdd;
}
.see-all-features::after {
  content: '';
  margin: 8px 0 0 10px;
  width: 8px;
  height: 14px;
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
  position: relative;
  bottom: 5px;
}
.h-295 {
  height: 16.5rem;
}
/* * {
  border: 1px solid greenyellow;
} */