html {
  font-family:'Roboto Condensed', sans-serif;
}
.top-nav, [src="https://g.newsweek.com/www/images/logo-n1.svg"]  {
  background-color: #f72210;
}
header a:hover {
  text-decoration: none;
}
[src="images/weather.webp"] {
  width: 24px;
  height: 24px;
}

.middle > a svg{
  width: 396px;
  height: 60px;
  margin: 10px 0 auto;
}
.right-nav {
  position: relative;
  bottom: -1.5em;
}
.subscribe {
  color: #f72210;
  background-color: white;
  padding: 5px;
}
.bottom-nav {
  position: relative;
}
.bn-ul li {
  line-height: 12px;
  margin: 5px;
  padding: 7px;
  border-left: 1px solid #d9d9d9;
}
.bn-ul li:first-of-type {
  border-left: none;
}
.bn-ul li a {
  font-size: 19px;
  color: black;
  font-weight: 700;
}
.bn-ul li a:hover, .subscribe:hover, .ar-div1 {
  color: #f72210;
}
#search {
  height: 22px;
  margin-top: 5px;
}
[class="fas fa-search"] {
  position: relative;
  right: 25px;
  top: 8px;
}
main {
  border-top: 1px solid #f4f5f6;
  padding-top: 15px;
}
.title {
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: bold;
}
.ar-div1, .ar-mid-div1 {
  bottom: 0;
  z-index: 1;
}
.ar-div1 {
  background-color: rgba(255, 255, 255, 0.9);
}
.cl-b-hv-r, .cl-b-hv-b, .cl-b-hv-r:hover, .cl-b-hv-b:hover {
  color: black;
} 
.cl-b-hv-r, .cl-b-hv-b, .cl-b-hv-b:hover  {
  text-decoration: none;
}
.cl-b-hv-r:hover {
  text-decoration: underline #f72210;
}
.ar-mid-div1 {
  background-color: #c2d4d7;
}
.mp-m3-div {
  border-top: 1px solid #ddd;
}
/* * {
  border: 1px solid greenyellow; */
}